body {
    background: linear-gradient(to bottom right, #ffccff, #ff99cc);
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-align: center;
    padding: 50px;
    color: #ff1493;
    overflow: hidden;
    perspective: 1000px;
}

.container {
    transform-style: preserve-3d;
    animation: rotate 20s infinite linear;
}

@keyframes rotate {
    from { transform: rotateY(0deg); }
    to { transform: rotateY(360deg); }
}

h1 {
    color: #ff69b4;
    font-size: 4em;
    text-shadow: 2px 2px #ff6f61;
    margin-bottom: 20px;
}

h2 {
    color: #ff6f61;
    font-size: 2.5em;
    margin-bottom: 20px;
}

p {
    color: #8b008b;
    font-size: 1.5em;
}

.song {
    margin-top: 30px;
    border: 2px solid #ff1493;
    padding: 20px;
    border-radius: 15px;
    background-color: #fff0f5;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
}

.song p {
    text-align: left;
    line-height: 1.6;
}

.balloons {
    position: relative;
    width: 100%;
    height: 300px;
}

.balloon {
    width: 100px;
    position: absolute;
    animation: float 6s ease-in-out infinite;
}

.balloon1 { left: 10%; animation-delay: 0s; }
.balloon2 { left: 30%; animation-delay: 2s; }
.balloon3 { left: 50%; animation-delay: 4s; }
.balloon4 { left: 70%; animation-delay: 1s; }
.balloon5 { left: 90%; animation-delay: 3s; }

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

.confetti-container {
    position: relative;
    width: 100%;
    height: 100px;
}

.confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    background: red;
    animation: fall 5s infinite;
}

.confetti:nth-child(odd) {
    background: yellow;
    animation-duration: 7s;
}

.confetti:nth-child(even) {
    background: blue;
    animation-duration: 5s;
}

@keyframes fall {
    0% { transform: translateY(-100px) rotate(0deg); }
    100% { transform: translateY(800px) rotate(360deg); }
}

.cake-container {
    margin-top: 30px;
}

.cake {
    width: 200px;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.button {
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 1.5em;
    color: #fff;
    background-color: #ff69b4;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #ff1493;
}

.my-image {
    margin-top: 30px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    height: auto;
  }
